.about-us {
  padding: 70px 0 71px;
  background-color: #f9f9f9;
}

.about-us__title {
  margin-bottom: 26px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 35px;
  line-height: 1.172;
  text-align: center;
  color: var(--second-color, #383A4C);
}

.about-us__subtitle {
  max-width: 189px;
  margin: 0 auto 35px;
  position: relative;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.172;
  text-align: center;
  color: var(--second-color, #383A4C);
}

.about-us__subtitle::before,
.about-us__subtitle::after {
  content: "";
  position: absolute;
  width: 43px;
  height: 2px;
  background-color: #383A4C;
  top: 50%;
  transform: translateY(-50%);
}

.about-us__subtitle::before {
  left: 0;
}

.about-us__subtitle::after {
  right: 0;
}

.about-us__text {
  max-width: 724px;
  margin: 0 auto 58px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.406;
  text-align: center;
  color: var(--second-color, #383A4C);
}

.radio {
  position: absolute;
  visibility: hidden;
}


.about-us__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 1px;
  align-items: self-start;
  gap: 50px;
  max-width: 935px;
  counter-reset: count 0;
}

.about-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-basis: 196px;
  text-align: center;
} 

.about-us__item::before {
  content: counter(count);
  padding: 37px 43px 35px 42px;
  width: 122px;
  height: 122px;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: var(--blue-ligth-color, #23C7EC);
  border-radius: 50%;
  counter-increment: count;
}

.about-us__item-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.407;
  color: var(--second-color, #383A4C);
}

@media (max-width: 1024px) {
  .about-us {
    padding-top: 71px;
    padding-bottom: 73px;
  }

  .about-us__title{
    margin-bottom: 23px;
    font-size: 32px;
  }

  .about-us__subtitle {
    max-width: 174px;
    margin-bottom: 32px;
    padding-right: 4px;
    font-size: 20px;
    line-height: 1.15;
  }

  .about-us__subtitle::before,
  .about-us__subtitle::after  {
    width: 40px;
  }

  .about-us__text {
    max-width: 666px;
    margin-bottom: 60px;
    font-size: 16px;
  }

  .about-us__list {
    max-width: 870px;
    margin-right: 48px;
    gap: 20px;
  }

  .about-us__item {
    flex-basis: 180px;
    gap: 24px;
    padding-right: 2px;
  }

  .about-us__item::before {
    padding: 25px 31px;
    width: 104px;
    height: 104px;
    font-size: 52px;
  }

  .about-us__item:first-child {
    padding-right: 3px;
  }

  .about-us__item-text {
    font-size: 18px;
    line-height: 1.389;
  }
}

@media (max-width: 640px) {
  .about-us {
    padding-top: 31px;
    padding-bottom: 54px;
  }

  .about-us__title{
    margin-bottom: 17px;
    padding-left: 4px;
    font-size: 20px;
  }

  .about-us__subtitle {
    max-width: 134px;
    padding-left: 5px;
    margin-bottom: 29px;
    font-size: 16px;
  }

  .about-us__subtitle::before,
  .about-us__subtitle::after  {
    width: 20px;
    height: 1px;
  }

  .about-us__text {
    max-width: 290px;
    margin-bottom: 40px;
    padding-right: 3px;
    font-size: 12px;
  }

  .slider {
    position: relative;
    max-width: 290px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .controls {
    display: flex;
    gap: 10px;
    height: 10px;
    justify-content: center;
  }
  

  .about-us__list {
    flex-direction: row;
    padding-left: 62px;
    width: 400%;
    gap: 124px;
  }
  
  .about-us__item {
    flex-shrink: 0;
    flex-basis: 166px;
    gap: 25px;
  } 

  #switch1:checked ~ #controls label:nth-child(4), 
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2),
  #switch4:checked ~ #controls label:nth-child(3){
    background-image: url('../img/left-black.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 38px;
    width: 38px;
    background-position: 59% 45%;
    background-size: 190%;
  }

  #switch1:checked ~ #controls label:nth-child(2), 
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(4),
  #switch4:checked ~ #controls label:nth-child(1){
    background-image: url('../img/right-black.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 38px;
    width: 38px;
    background-position: 59% 45%;
    background-size: 190%;
  }

  #switch4:checked ~ #controls label:nth-child(1) {
    pointer-events: none;
    background-image: url('../img/right.svg');
    background-position: 33% 45%;
  }

  #switch1:checked ~ #controls label:nth-child(4) {
    pointer-events: none;
    background-image: url('../img/left.svg');
    background-position: 33% 45%;
  }
  
  #switch1:checked ~ .about-us__list{
    margin-left: 0;
  }
  
  #switch2:checked ~ .about-us__list {
    margin-left: -100%;
  }
  #switch3:checked ~ .about-us__list {
    margin-left: -200%;
  }
  #switch4:checked ~ .about-us__list {
    margin-left: -300%;
  }
}

