.about-us {
  padding: 70px 0;
}


.about-us__title {
  margin-bottom: 25px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 35px;
  line-height: 1.171;
  text-align: center;
  color: var(--second-color, #383A4C);
}

@media (max-width: 1024px) {
  .about-us__title{
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 1.188;
  }
}

@media (max-width: 640px) {
  .about-us__title{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.15;
  }
}

.about-us__subtitle {
  max-width: 189px;
  margin: 0 auto 35px;
  position: relative;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.182;
  text-align: center;
  color: var(--second-color, #383A4C);
}

@media (max-width: 1024px) {
  .about-us__subtitle {
    max-width: 174px;
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 1.15;
  }
}

@media (max-width: 640px) {
  .about-us__subtitle {
    max-width: 134px;
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 1.188;
  }
}

.about-us__subtitle::before,
.about-us__subtitle::after {
  content: "";
  position: absolute;
  width: 43px;
  height: 2px;
  background-color: #383A4C;
  top: 50%;
  transform: translateY(-50%);
}

.about-us__subtitle::before {
  left: 0;
}

.about-us__subtitle::after {
  right: 0;
}

@media (max-width: 1024px) {
  .about-us__subtitle::before,
  .about-us__subtitle::after  {
    width: 40px;
  }
}

@media (max-width: 640px) {
  .about-us__subtitle::before,
  .about-us__subtitle::after  {
    width: 20px;
    height: 1px;
  }
}

.about-us__text {
  max-width: 724px;
  margin: 0 auto 50px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--second-color, #383A4C);
}

@media (max-width: 1024px) {
  .about-us__text {
    max-width: 666px;
    font-size: 16px;
    line-height: 1.438;
  }
}

@media (max-width: 640px) {
  .about-us__text {
    max-width: 290px;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 1.417;
  }
}

.about-us__list {
  display: flex;
  margin: 0 auto;

  align-items: end;
  gap: 50px;
  max-width: 935px;
  counter-reset: count 0;
}


@media (max-width: 640px) {
  .about-us__list {
    max-width: 190px;
    flex-direction: column;
    gap: 40px;
  }
}

.about-us__item {
  display: flex;
  align-items: end;
  position: relative;
  flex-basis: 196px;
  height: 195px;
  text-align: center;
} 

.about-us__item::before {
  content: counter(count);
  position: absolute;
  padding: 32px 45px;
  width: 122px;
  height: 122px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #FFFFFF;
  background-color: var(--blue-ligth-color, #23C7EC);
  border-radius: 50%;
  counter-increment: count;
}

.about-us__item-text {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--second-color, #383A4C);
}

@media (max-width: 1024px) {
  .about-us__item {
    flex-basis: 180px;
    height: 182px;
  }

  .about-us__item::before {
    padding: 25px 31px;
    width: 104px;
    height: 104px;
    font-size: 52px;
  }

  .about-us__item-text {
    font-size: 18px;
    line-height: 25px;
    line-height: 28px;
  }
}

@media (max-width: 640px) {
  .about-us__item {
    flex-basis: 166px;
  }
}
